@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font: 400 12px/1 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

th {
  text-align: left;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

main.page-content {
  padding: 0px;
}

.wrapper {
  min-width: 1000px;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
